<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">
      <mat-toolbar color="primary">
        <span>Menu</span>
        <span class="spacer"></span>
        <button mat-icon-button
                (click)="sidenav.toggle()"
                routerLink="">
            <mat-icon>home</mat-icon>
        </button>
      </mat-toolbar>  
      <mat-nav-list>       
        <a  routerLink="/productos/crear"
            mat-list-item
            (click)="sidenav.toggle()">
            <mat-icon>add</mat-icon>
             Crear Producto
        </a>
        <a  routerLink="/cliente/ver"
            mat-list-item
            (click)="sidenav.toggle()">
            <mat-icon>people</mat-icon>
             Clientes
        </a>
       </mat-nav-list>  
    </mat-sidenav>
  
    <mat-toolbar>
      <button mat-icon-button
              (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <button routerLink="/venta/crear" class="m-5 btn btn-primary">
        <mat-icon>shopping_cart</mat-icon>
        <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
      </button>
      <div *ngIf="isHomeRoute()">
        <app-search-productos></app-search-productos>  
      </div>
    </mat-toolbar>
  
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>